{box-sizing:border-box;}
body {
font-family:Arial;
padding:10px;
background:#f1f1f1;
}
ini kode untuk apa?/
.header {
padding:30px;
text-algin:center:
background:white;
}
.header h1 {font-size:50px;}
/style the top navigation bar/
.topnav {
overflow:hidden;
background-color:#333;
}
/*style the topnav links */
.topnav a {
float:left;
display:block;
color:#f2f2f2;
text-align:center;
padding:14px 16px;
text-decoration:none;
}
/* change color on hover */
.topnav a:hover {
background-color:#ddd;
color-black:
}
/*create two unequal columns that floats next to each other */
/* left column */
.leftcolumn {
float:left;
widht:75%
}
*right column */
.rightcolumn {
float:left;
widht:25%
background-color:#f1f1f1;
padding-left:20px;
*/ fakeimg */
.fakeimg {
background-color:#aaa
widht:10%;
padding:20px;
}
/* ini kode untuk artikel */
.card {
backgrounf-color:white;
padding:20px;
margin-top:20px;
}
/* clear floats after the column */
.row::after {
content:"";
display:table;
clear:both;
}
/footer/
.footer {
padding:20px;
text-align:center;
background:#ddd;
margin-top:20px;
}